@use "../../../web/css/fonts.css";

$bg-color: #300a24;
$bg-color-l1: #401a34;
$bg-color-l2: #502a44;
$bg-color-l3: #603a54;
$primary-color: darkcyan;
$primary-color-hover: #00adad;
$text-color: lightgray;
$error-color: #c49d07;

html, body {
  height:100%;
}

body {
  font-family: Raleway, sans-serif;
  font-size:18px;
  background-color: $bg-color;
  color: $text-color;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  overflow-y: scroll;
  height:100%;
  margin:0;
  padding:0;
}

/* CSS reset */

@-ms-viewport { width: device-width; }
html { -webkit-text-size-adjust: 100%; }

input:autofill {
  background: #fff; /* or any other */
}

input:focus {
  outline : none;
}

* {
  box-sizing: border-box;
}

/* Login page */

.loginpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;

  .loginarea2 {
    display:flex;
    align-items:center;
    flex-direction: column;
  
    > div {
      margin:10px;
    }
  
    .inputlabel {
      color:#999;
    }
  
    .title {
      font-size: 50px;
      font-weight: 200;
    }
  }

  .footer {
    position: absolute;
    bottom: 10px;
    color: gray;
    text-align: center;

    > span {
      padding:0 20px;
      border-left:1px solid gray;
      display: inline-block;

      a, a:visited, a:active {
        color:gray;
      }
    }
    > span:first-child {
      border-left:0px;
    }
  }
}

/* Form elements */

input {
  padding:5px;
  font-size: 18px;
  opacity: 0.7;
  border:2px solid $bg-color;
  box-shadow: inset 3px 3px 5px rgb(0 0 0 / 20%);
  background-color: white;
}

input:hover {
  opacity: 0.8;
}

input.error {
  background-color: $error-color;
}

input:focus {
  border:2px solid lightgray;
  opacity: 0.9;
  box-shadow: inset 3px 3px 5px rgb(0 0 0 / 40%);
}

button {
  padding: 10px 30px;
  font-size: 18px;
  border: none;
  background-color: $primary-color;
  border-radius: 5px;
  box-shadow: inset 3px 3px 5px rgb(255 255 255 / 10%), inset -3px -3px 5px rgb(0 0 0 / 10%);
  color:black;
}

button:hover {
  background-color: $primary-color-hover;
}

.notificationO {
  animation: notification-appearance 0.3s linear;
  animation-iteration-count: 1;
  text-align: center;
  position:absolute;
  top:10px;
  width: 100%;
  box-sizing: border-box;

  .notification {
    background-color: $bg-color-l1;
    border-radius: 5px;
    padding: 10px 30px;
    max-width: 50%;
    box-sizing: border-box;
    display: inline-block;

    .closebtn {
      background-image: url(../img/close-white.png);
      height: 20px;
      width: 20px;
      background-size: contain;
      margin-left:10px;
      display: inline-block;
      vertical-align: text-bottom;
      opacity: 0.5;
    }
    .closebtn:hover {
      opacity: 0.8;
      cursor:pointer;
    }
  }
}

@keyframes notification-appearance {
	from {
    transform:translate(0,-50px);
    opacity:0;
	}
	to {
    transform:translate(0,0);
    opacity:1;
  }
}

@media screen and (min-width:700px) {
  .loginpage {
    flex-direction: row;

    .loginarea2 {
      border-left:1px solid rgba(255,255,255,0.3);
      padding-left: 10px;
      margin-left: 20px;
    }
  }
}