<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" metadata-complete="true">

  <listener>
    <listener-class>net.pieroxy.conkw.webapp.Listener</listener-class>
  </listener>


  <servlet>
    <servlet-name>html</servlet-name>
    <servlet-class>net.pieroxy.conkw.webapp.servlets.HtmlTemplates</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>html</servlet-name>
    <url-pattern>/htmlTemplates</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>api</servlet-name>
    <servlet-class>net.pieroxy.conkw.webapp.servlets.Api</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>api</servlet-name>
    <url-pattern>/api</url-pattern>
  </servlet-mapping>

  <session-config>
    <session-timeout>0</session-timeout>
  </session-config>

</web-app>