
body {
  font-family: Raleway, sans-serif;
  font-size:18px;
  background-color: #300a24;
  color: white;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* Generic and misc elements */

a {
  color: #88f;
}

a:visited {
  color: #a8f;
}

heading {
  display: block;
  color: #a0a0ff;
  font-weight: bold;
  margin-top: 20px;
}

li {
  margin: 10px;
}


/* Markdown doc */
md {
  max-width: 800px;
  display: block;
  margin: auto;
}

md code {
  font-size: 15px;
  font-weight: 700;
  background: #18040a;
  padding: 3px 10px;
}

md pre code {
  display: block;
  padding: 10px 10px;
  overflow-y: auto;
}

img {
  border: 5px solid white;
  max-width:100%;
}