
body {
  font-family: Raleway, sans-serif;
  font-size:18px;
  background-color: #300a24;
  color: white;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}


/* Generic and misc elements */

a {
  color: #88f;
}

a:visited {
  color: #a8f;
}

heading {
  display: block;
  color: #a0a0ff;
  font-weight: bold;
  margin-top: 20px;
}

li {
  margin: 10px;
}

