body {
    background-color: #000032;
    color: white;
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
    transform-origin: top left;
    overflow: hidden;
}


/* Generic and misc elements */
  
pagetitle code {
    font-family: Raleway, sans-serif;
    font-weight: 600;
    font-style: italic;
}

columncontainer {
    column-width: 350px;
    overflow: hidden;
    display: block;
}
div#errorDiv {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #aaa;
    color: black;
    white-space: normal;
}

label,
cw-label {
    white-space: pre;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
}

a {
    color: #44f;
}

a:visited {
    color: #84f;
}

.cw-block {
    display: inline-block;
    width:350px;
}

cw-label.error, .cw-error {
    background-color: #f40;
    color: black;
}

heading {
    display: block;
    color: #a0a0ff;
    font-weight: bold;
    margin-top: 20px;
}

.softlabel {
    color: #447;
}

.cw-stale {
    color: #888;
}


/* Gauge elements */

gauge,
hgauge {
    width: 150px;
    background-color: #202040;
    height: 0.9em;
    display: block;
    margin-left: 30px;
    margin-bottom: 2px;
    position: relative;
    overflow: hidden;
    float: right;
}

gauge>div {
    height: 100%;
    position: absolute;
}

gauge>div.redright {
    background-color: #301030;
    position: absolute;
    right: 0px;
}

gauge>div.redleft {
    background-color: rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0px;
    z-index: 10;
}

gauge>div.gauge {
    background-color: #474;
}

hgauge>div.ch>div.hgauge {
    background-color: #474;
}
hgauge>div.ch>div.hgaugebg {
    background-color: #202040;
}

hgauge>div {
    height: 100%;
    position: absolute;
}

hgauge>div.ch {
    height: 100%;
    position: static;
    width: 2px;
    float: left;
    margin-left: -1px;
}

hgauge>div.ch div {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 2px;
}

hgauge.w2>div.ch {
    width: 3px;
}

hgauge.w2>div.ch div {
    width: 3px;
}

hgauge.w3>div.ch {
    width: 4px;
}

hgauge.w3>div.ch div {
    width: 4px;
}

hgauge div.ch.error {
    background-color: red;
    color: black;
    position: relative;
    z-index: 100;
}

gauge>div.gaugewarning {
    background-color: #800000 ! important;
}



/* Clock elements */
clock {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
}

clock>div {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-4px);
}

clock>div>div,
clock>div>img {
    position: absolute;
    transform: rotate(90deg);
    /* So cool, but the impact on performance is drastic.
    transition: 0.3s all;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);*/
}

clock #clock-second {
    height: 2px;
    width: 45%;
    left: 15%;
    transform-origin: 77.777%;
}

clock #clock-hour {
    height: 3px;
    width: 30%;
    transform-origin: 83.333%;
    left: 25%;
}

clock #clock-minute {
    width: 40%;
    left: 15%;
    transform-origin: 87.5%;
    height: 3px;
}

/* Battery elements */
.battery {
    margin-left: 20px;
    display: inline-block;
    position:relative;
}

.battery > img {
    height: 2em;
}

.battery > span {
    background-image: url(/battery/batt_middle.png);
    display: inline-block;
    width: 100px;
    background-repeat: repeat;
    height: 2em;
    background-size: contain;
}

.battery > span > gauge {
    margin-top:0.5em;
    width: 95px;
    margin-right: 3px;
}

.battery > span > img {
    height: 1em;
    position: absolute;
    z-index: 10;
    margin-top: 0.5em;
    margin-left: 2em;
}

/* LCD panel for music */
.lcd gauge {
    background-color: #709181
}

.lcd gauge>div.gauge {
    background-color: #283830;
}

.lcd.cw-stale,
.lcd.cw-stale *,
.cw-stale .lcd,
.cw-stale .lcd * {
    color: #709181;
    text-shadow: 0.1em 0.1em #779989;
}

.cw-stale.lcd gauge,
.cw-stale .lcd gauge {
    background-color: #779989;
}

.cw-stale.lcd gauge>div.gauge,
.cw-stale .lcd gauge>div.gauge {
    background-color: #709181;
}

.steelborder {
    padding: 8px;
    background-image: url(/backgrounds/stainless2.jpg);
    box-shadow: inset -3px -3px 3px -3px black, inset 3px 3px 3px -3px white;
    background-size: 100%;
    background-position: top;
}

.steelborder img {
    height: 35px;
    padding-top: 10px;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 1));
}


.lcd {
    background-color: #7da190;
    box-shadow: inset 1px 1px 10px #000a;
    font-family: LCDVARA, monospace;
    font-size: 15px;
    color: #283830;
    padding: 10px;
    text-shadow: 0.1em 0.1em #709181;
    overflow: hidden;
    white-space: nowrap;
}

.lcd>div {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #799c8c;
}

.lcd>div * {
    padding-bottom: 0.2em;
}