@-ms-viewport {
  width: device-width;
}

html {
  -webkit-text-size-adjust: 100%;
}

md h1, pagetitle {
  display: block;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 40px;
  margin: 10px;
}

pagetitle a, pagetitle a:visited,
md h1 a, md h1 a:visited {
  color: white;
  text-decoration: none;
}

inlinelogo {
  background-image: url("/android-chrome-256x256.png");
  background-size: cover;
  height:1em; 
  width:1em; 
  vertical-align: middle;
  margin-right:30px;
  display: inline-block;
}

/* Markdown doc */
md {
  max-width: 800px;
  display: block;
  margin: auto;
}

md code {
  font-size: 15px;
  font-weight: 700;
  background: #4e2e44;
  padding: 3px 10px;
}
